<mat-toolbar #toolbar>
    <button mat-icon-button (click)="toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <mat-label class="spacer">
        Store Admin
    </mat-label>

    <button mat-icon-button #filter>
        <mat-icon>
            filter_list
        </mat-icon>
    </button>

    <button mat-icon-button #search>
        <mat-icon>
            search
        </mat-icon>
    </button>

    <button mat-icon-button #add>
        <mat-icon>
            add
        </mat-icon>
    </button>

    <button mat-icon-button #close>
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container [class.minified]="minified" [class.authenticated]="authenticated">
    <mat-drawer mode="side">
        <mat-list>
            <mat-list-item type="button" lines="full" routerLink="/collection-points" routerLinkActive="active"
                matRipple matTooltip="Collection Points" matTooltipPosition="after">
                <mat-icon>
                    beenhere
                </mat-icon>

                <mat-label>
                    Collection Points
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/couriers" routerLinkActive="active" matRipple
                matTooltip="Couriers" matTooltipPosition="after">
                <mat-icon>
                    local_shipping
                </mat-icon>

                <mat-label>
                    Couriers
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/customers" routerLinkActive="active" matRipple
                matTooltip="Customers" matTooltipPosition="after">
                <mat-icon>
                    people
                </mat-icon>

                <mat-label>
                    Customers
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/departments" routerLinkActive="active" matRipple
                matTooltip="Departments" matTooltipPosition="after">
                <mat-icon>
                    dynamic_feed
                </mat-icon>

                <mat-label>
                    Departments
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/orders" routerLinkActive="active" matRipple
                matTooltip="Orders" matTooltipPosition="after">
                <mat-icon>
                    receipt
                </mat-icon>

                <mat-label>
                    Orders
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/products" routerLinkActive="active" matRipple
                matTooltip="Products" matTooltipPosition="after">
                <mat-icon>
                    shopping_bag
                </mat-icon>

                <mat-label>
                    Products
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/reviews" routerLinkActive="active" matRipple
                matTooltip="Reviews" matTooltipPosition="after">
                <mat-icon>
                    reviews
                </mat-icon>

                <mat-label>
                    Reviews
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/stores" routerLinkActive="active" matRipple
                matTooltip="Stores" matTooltipPosition="after">
                <mat-icon>
                    store
                </mat-icon>

                <mat-label>
                    Stores
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/suppliers" routerLinkActive="active" matRipple
                matTooltip="Suppliers" matTooltipPosition="after">
                <mat-icon>
                    business
                </mat-icon>

                <mat-label>
                    Suppliers
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" routerLink="/vouchers" routerLinkActive="active" matRipple
                matTooltip="Vouchers" matTooltipPosition="after">
                <mat-icon>
                    local_activity
                </mat-icon>

                <mat-label>
                    Vouchers
                </mat-label>
            </mat-list-item>

            <mat-list-item type="button" lines="full" matRipple matTooltip="Sign Out" matTooltipPosition="after"
                (click)="account.signout()">
                <mat-icon>
                    exit_to_app
                </mat-icon>

                <mat-label>
                    Sign Out
                </mat-label>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<splashscreen></splashscreen>