html,
body {
    margin: 0px;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
p {
    margin: 0px !important;
}
form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 16px !important;
    }
    section {
        flex: 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        mat-form-field {
            flex: 0 calc(50% - 5px);
            min-width: 0px !important;
        }
    }
    mat-form-field {
        flex: 1 auto;
        min-width: 0px !important;
    }
    input {
        min-width: 0px !important;
    }
}
table {
    width: 100%;
    background-color: transparent !important;
    .mat-header-row,
    .mat-footer-row {
        height: 30px !important;
        background-color: #fff;
    }
    .mat-row .mat-cell {
        font-size: 15px;
    }
}
* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.spacer {
    flex: 1 auto;
}
[mat-flat-button],
[mat-stroked-button] {
    width: 100%;
    height: 48px;
    text-transform: uppercase;
}
mat-toolbar {
    max-height: 56px !important;
}
mat-list {
    padding: 0px !important;
    mat-list-item {
        outline: none !important;
        mat-icon {
            margin-right: 16px;
        }
    }
    mat-list-item[type="button"] {
        cursor: pointer;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    mat-list-item[lines="full"] {
        border-bottom: 1px solid #e0e0e0;
    }
}
.container {
    width: 60%;
    margin: auto;
}
@media screen and (max-width: 1200px) {
    .container {
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}
mat-progress-bar {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 100 !important;
    position: absolute !important;
}
home-page,
orders-page,
stores-page,
reviews-page,
couriers-page,
products-page,
suppliers-page,
departments-page,
authenticate-page,
stores-editor-page,
products-editor-page,
couriers-editor-page,
suppliers-editor-page,
collection-points-page,
departments-editor-page,
collection-points-editor-page {
    height: calc(100vh - 56px);
    display: flex;
    position: relative;
    flex-direction: column;
    mat-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            max-width: 400px;
        }
    }
}
home-page mat-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
input[type="color"] {
    height: 16px !important;
}
button[mat-menu-item] {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 12px !important;
}
.mat-column-options {
    width: 40px;
    padding-right: 8px !important;
}
.orders-filter-dialog mat-dialog-container {
    width: 500px !important;
    padding: 0px !important;
    background-color: #FFF !important;
}
tfoot td {
    font-size: 12px !important;
    font-weight: 500 !important;
}
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.ql-toolbar, .ql-container {
    border-color: #E0E0E0 !important;
}
.ql-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ql-container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}