.file-upload-container {
	width: 				150px;
	height: 			150px;
	cursor: 			pointer;
	border: 			1px solid #BDBDBD;
	overflow: 			hidden;
	margin-top: 		15px;
	text-align: 		center;
	border-radius: 		5px;
	vertical-align: 	middle;
	background-color: 	#EEEEEE;
	input {
		display: none;
	}
	img {
		max-width: 	150px;
		max-height: 150px;
	}
	mat-icon {
		color: 		#3F51B5;
		width: 		48px;
		height: 	48px;
		font-size: 	48px;
		margin-top: 51px;
	}
}
.invalid {
	border: 1px solid #F44336;
	mat-icon {
		color: #F44336;
	}
}
mat-spinner {
	margin: 55px !important;
}