.store-button {
    width:              40px;
    height:             40px;
    border:             none !important;
    margin:             0px !important;
    display:            flex;
    padding:            0px !important;
    outline:            none !important;
    align-items:        center;
    border-radius:      100%;
    justify-content:    center;
    background-color:   #FFF;
    img {
        flex:       0 30px;
        margin:     0px !important;
        padding:    0px !important;
        max-width:  30px;
        max-height: 30px;
    }
}