<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="menu.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <label class="page-title spacer">
        reviews
    </label>

    <search placeholder="search reviews"></search>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <mat-list class="column-list">
        <mat-list-item *ngFor="let review of reviews.data | orderBy : 'serverDate' | filterBy : 'message' : filter" matRipple>
            <button mat-icon-button (click)="reviews.approve(review)">
                <mat-icon>
                    check
                </mat-icon>
            </button>

            <button mat-icon-button (click)="reviews.reject(review)">
                <mat-icon>
                    close
                </mat-icon>
            </button>

            <ngx-star-rating [value]="review.score"></ngx-star-rating>
            
            <h3>
                {{ review.message }}                
            </h3>
        </mat-list-item>
    </mat-list>
</div>