<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <mat-label class="spacer">
        Online Store
    </mat-label>

    <button mat-icon-button>
        <mat-icon>
            search
        </mat-icon>
    </button>

    <button mat-icon-button routeLink="/wishlist">
        <mat-icon>
            favorite
        </mat-icon>
    </button>

    <button mat-icon-button routeLink="/cart">
        <mat-icon>
            shopping_cart
        </mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>