<mat-toolbar>
    <button mat-icon-button (click)="toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <mat-label class="spacer">
        {{ store.description | async }}
    </mat-label>

    <button #search mat-icon-button>
        <mat-icon>
            search
        </mat-icon>
    </button>

    <button #wishlist mat-icon-button routerLink="/wishlist">
        <mat-icon [matBadge]="items.wishlist" matBadgeSize="small" matBadgeColor="warn">
            favorite
        </mat-icon>
    </button>

    <button #cart mat-icon-button routerLink="/cart">
        <mat-icon [matBadge]="items.cart" matBadgeSize="small" matBadgeColor="warn">
            shopping_cart
        </mat-icon>
    </button>

    <button #close mat-icon-button>
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer position="start">
        <mat-list>
            <mat-list-item type="button" lines="full" routerLink="/home" routerLinkActive="active" matRipple>
                <mat-icon>
                    home
                </mat-icon>

                <mat-label>
                    Home
                </mat-label>
            </mat-list-item>
            
            <mat-list-item type="button" lines="full" routerLink="/orders" routerLinkActive="active" matRipple>
                <mat-icon>
                    receipt
                </mat-icon>

                <mat-label>
                    Orders
                </mat-label>
            </mat-list-item>
            
            <mat-list-item type="button" lines="full" (click)="website()" matRipple>
                <mat-icon>
                    language
                </mat-icon>

                <mat-label>
                    Our Website
                </mat-label>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>