.logo {
    width: 150px;
    height: 150px;
    border: 1px solid #e0e0e0;
    margin: auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: #fafafa;
}
mat-grid-list mat-grid-tile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    .star,
    .delete {
        top: 0px;
        z-index: 100;
        position: absolute;
    }
    .active {
        color: #FFC107 !important;
    }
    .star {
        left: 0px;
    }
    .delete {
        right: 0px;
    }
}