<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="history.back()">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>

    <label class="page-title spacer">
        product editor
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <form [formGroup]="form" (ngSubmit)="!form.invalid && images.length > 0 && !loading && submit()">
        <div class="images" [class.error]="images.length == 0">
            <label>
                images *
            </label>

            <mat-grid-list cols="3" rowHeight="1:1" gutterSize="5px">
                <mat-grid-tile matRipple (click)="upload()" *ngIf="images.length < 3">
                    <mat-icon>
                        add
                    </mat-icon>
                </mat-grid-tile>
                
                <mat-grid-tile *ngFor="let image of images; let index = i;" [style.background-image]="'url(' + image.src + ')'">
                    <button mat-icon-button class="main" (click)="SetMain(image)">
                        <mat-icon color="accent">
                            {{image.main ? 'star' : 'star_border' }}
                        </mat-icon>
                    </button>

                    <button mat-icon-button class="remove" (click)="images.splice(index, 1)">
                        <mat-icon color="warn">
                            delete
                        </mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-error *ngIf="images.length == 0">
                You must have at least one image
            </mat-error>
        </div>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                title
            </mat-label>

            <input matInput type="text" name="title" placeholder="title" formControlName="title" required>

            <mat-error *ngIf="errors.title">
                {{ errors.title }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                visibility
            </mat-label>

            <mat-select name="visible" placeholder="visibility" formControlName="visible" required>
                <mat-option [value]="true">
                    Visible
                </mat-option>
                <mat-option [value]="false">
                    Hidden
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.visible">
                {{ errors.visible }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                description
            </mat-label>

            <textarea name="description" rows="5" matInput matTextareaAutosize placeholder="description" formControlName="description" required></textarea>

            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                Sharing Rules
            </mat-label>

            <mat-select name="organizationOnly" placeholder="Sharing Rules" formControlName="organizationOnly" required>
                <mat-option [value]="0">
                    Share To Anyone
                </mat-option>
                <mat-option [value]="1">
                    Share In Organization
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.organizationOnly">
                {{ errors.organizationOnly }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                Product Type
            </mat-label>

            <mat-select name="type" placeholder="Product Type" formControlName="type" required>
                <mat-option value="virtual">
                    Virtual
                </mat-option>
                <mat-option value="physical">
                    Physical
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.type">
                {{ errors.type }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                supplier
            </mat-label>

            <mat-select name="supplierId" placeholder="supplier" formControlName="supplierId" required>
                <mat-option *ngFor="let supplier of suppliers | orderBy : 'description'" [value]="supplier.supplierId">
                    {{ supplier.description }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.supplierId">
                {{ errors.supplierId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                departments
            </mat-label>

            <mat-select name="departments" placeholder="departments" formControlName="departments" required multiple>
                <mat-option *ngFor="let department of departments | orderBy : 'description'" [value]="department.departmentId">
                    {{ department.description }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.departments">
                {{ errors.departments }}
            </mat-error>
        </mat-form-field>

        <h2>
            pricing & promotions
        </h2>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                cost price (R)
            </mat-label>


            <input matInput type="number" min="0" name="cost" placeholder="cost price" formControlName="cost" required>

            <mat-error *ngIf="errors.cost">
                {{ errors.cost }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                listing price (R)
            </mat-label>

            <input matInput type="number" min="0" name="price" placeholder="listing price" formControlName="price" required>

            <mat-error *ngIf="errors.price">
                {{ errors.price }}
            </mat-error>
        </mat-form-field>

        <section formGroupName="promotion">
            <mat-form-field appearance="outline">
                <mat-label text-uppercase>
                    promotion
                </mat-label>
    
                <mat-select name="enabled" placeholder="promotion" formControlName="enabled" required>
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>
                    <mat-option [value]="false">
                        Disabled
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.promotion.enabled">
                    {{ errors.promotion.enabled }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label text-uppercase>
                    promotion price (R)
                </mat-label>

                <input matInput type="number" min="0" name="price" placeholder="promotion price" formControlName="price" required>
    
                <mat-error *ngIf="errors.promotion.price">
                    {{ errors.promotion.price }}
                </mat-error>
            </mat-form-field>
        </section>

        <h2>
            people also buy section
        </h2>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                links
            </mat-label>

            <mat-select name="links" placeholder="links" formControlName="links" multiple>
                <mat-option *ngFor="let product of products | orderBy : 'title'" [value]="product.productId">
                    {{ product.title }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.links">
                {{ errors.links }}
            </mat-error>
        </mat-form-field>

        <h2>
            product info & warranty
        </h2>

        <table ngNoForm>
            <tr *ngFor="let row of info; let index = i;">
                <th>
                    <input matInput type="title" name="text" placeholder="info title" [(ngModel)]="row.title" [ngModelOptions]="{standalone: true}" required>
                </th>
                <td>
                    <input matInput type="value" name="text" placeholder="info value" [(ngModel)]="row.value" [ngModelOptions]="{standalone: true}" required>
                </td>
                <td>
                    <button type="button" mat-icon-button color="warn" (click)="info.splice(index, 1)">
                        <mat-icon>
                            remove
                        </mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <th>
                    <input matInput type="title" name="text" placeholder="info title" [(ngModel)]="infoItem.title" [ngModelOptions]="{standalone: true}">
                </th>
                <td>
                    <input matInput type="value" name="text" placeholder="info value" [(ngModel)]="infoItem.value" [ngModelOptions]="{standalone: true}">
                </td>
                <td>
                    <button type="button" mat-icon-button (click)="AddInfo()" [disabled]="!infoItem.title || !infoItem.value">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
                </td>
            </tr>
        </table>

        <button type="submit" mat-flat-button color="primary">
            submit
        </button>
    </form>
</div>