<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
            <mat-form-field appearance="outline">
                <mat-label>
                    Store
                </mat-label>

                <mat-select name="storeId" formControlName="storeId" required>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter stores" noEntriesFoundLabel="no stores found"
                            formControlName="store"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                        *ngFor="let store of stores.data | orderBy : 'description' | filterBy : { description: filter.value.store }"
                        [value]="store.storeId" [disabled]="store.role < 2">
                        {{ store.description }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.storeId">
                    {{ errors.storeId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Product
                </mat-label>

                <mat-select name="productId" formControlName="productId" required>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter products" noEntriesFoundLabel="no products found" formControlName="product"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let product of products.data | orderBy : 'title' | filterBy : { title: filter.value.product }" [value]="product.productId" [disabled]="product.role < 2">
                        {{ product.title }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.productId">
                    {{ errors.productId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Description
                </mat-label>

                <input matInput type="text" name="description" placeholder="description" formControlName="description"
                    required>

                <mat-error *ngIf="errors.description">
                    {{ errors.description }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Redeem Code
                </mat-label>

                <input matInput type="text" name="code" placeholder="code" formControlName="code"
                    required>

                <mat-error *ngIf="errors.code">
                    {{ errors.code }}
                </mat-error>
            </mat-form-field>

            <button #button type="submit" style="display: none;"></button>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        submit
    </button>
</mat-footer>