.logo {
    width: 150px;
    height: 150px;
    border: 1px solid #e0e0e0;
    margin: auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: #fafafa;
}
.mat-column-price {
    padding-left: 16px !important;
}