<mat-content>
    <div class="container">
        <mat-list>
            <mat-list-item lines="full" *ngFor="let item of wishlist.items">
                <img [src]="item.image" [alt]="item.title" width="40" height="40" draggable="false">

                <section>
                    <label>
                        {{ item.title }}
                    </label>
                    <span>
                        {{ item.promotion.enabled ? (item.promotion.price | currency : 'R') : (item.price | currency : 'R') }}
                    </span>
                </section>

                <button mat-icon-button (click)="MoveToCart(item)">
                    <mat-icon>
                        add_shopping_cart
                    </mat-icon>
                </button>

                <button mat-icon-button (click)="wishlist.delete(item)">
                    <mat-icon>
                        remove
                    </mat-icon>
                </button>
            </mat-list-item>
            
            <mat-list-item *ngIf="wishlist.items.length == 0">
                You have no items in your wishlist!
            </mat-list-item>
        </mat-list>
    </div>
</mat-content>