<mat-content>
    <agm-map [fitBounds]="true">
        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let item of products.data" [title]="item.title" [iconUrl]="item.productId == productId ? './assets/pin-blue.png' : './assets/pin-red.png'" [latitude]="item.location.latitude" [longitude]="item.location.longitude" [agmFitBounds]="true" [markerClickable]="true" (markerClick)="view(item)"></agm-marker>
        </agm-marker-cluster>
    </agm-map>

    <mat-carousel-tile *ngIf="product" matRipple [routerLink]="['/product', product.productId]">
        <div class="image" [style.background-image]="'url(' + product.image + ')'"></div>

        <div class="details">
            <mat-stars size="16" [value]="product.score"></mat-stars>

            <h3>
                {{ product.title }}
                <small>
                    {{ product.quantity == 0 ? 'Out of stock!' : '' }} 
                </small>
            </h3>

            <h4>
                {{ product.promotion.enabled ? (product.promotion.price | currency : 'R') : (product.price | currency : 'R') }}
                <small *ngIf="product.promotion.enabled">
                    {{ product.price | currency : 'R' }}
                </small>
            </h4>
        </div>
    </mat-carousel-tile>
</mat-content>