mat-content {
    agm-map {
        width: 100%;
        height: calc(100% - 56px);
    }
}
.product-details {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    h3 {
        font-size: 12px !important;
        font-weight: 500 !important;
        text-transform: uppercase;
    }
}