<mat-content>
    <agm-map [fitBounds]="true">
        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let product of products.data" [title]="product.description" [latitude]="product.location.latitude" [longitude]="product.location.longitude" [agmFitBounds]="true" [markerClickable]="true">
                <agm-info-window [isOpen]="true">
                    <div class="image" [style.background-image]="'url(' + product.image + ')'"></div>

                    <div class="product-details">
                        <h3>
                            {{ product.title }}
                        </h3>
                    </div>

                    <button mat-flat-button [routerLink]="['/product', product.productId]">
                        View
                    </button>
                </agm-info-window>
            </agm-marker>
        </agm-marker-cluster>
    </agm-map>
</mat-content>