<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="menu.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <label class="page-title spacer">
        Products
    </label>

    <search placeholder="search products"></search>

    <button mat-icon-button routerLink="editor" [queryParams]="{'mode': 'add', 'storeId': storeId}">
        <mat-icon>
            add
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <mat-list>
        <mat-list-item *ngFor="let product of products.data | orderBy : 'title' | filterBy : 'title' : filter" (click)="options(product)" matRipple>
            <button class="select" mat-icon-button color="primary" (click)="ToggleVisability($event, product)">
                <mat-icon>
                    {{ product.visible ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </button>

            <img [src]="product.image" [alt]="product.title">

            <section>
                <h3>
                    {{ product.title }}
                </h3>
                
                <p [class.promotion]="product.promotion.enabled">
                    {{ product.promotion.enabled ? (product.promotion.price | currency : 'R') : (product.price | currency : 'R') }} <small *ngIf="product.promotion.enabled">{{ product.price | currency : 'R' }}</small>
                </p>
            </section>
        </mat-list-item>
    </mat-list>
</div>