<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <mat-chip-list class="filterbar" *ngIf="filter.storeId.length > 0 || filter.status.length > 0 || (filter.date.to && filter.date.from)">
        <mat-chip *ngFor="let id of filter.storeId" (removed)="unfilter('storeId', id)">
            <mat-icon>
                store
            </mat-icon>
            
            <mat-label>
                {{ describe(stores.data, 'storeId', id) }}
            </mat-label>
            
            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>
        
        <mat-chip *ngIf="filter.date.to && filter.date.from" (removed)="unfilter('date', true)">
            <mat-icon>
                date_range
            </mat-icon>
            
            <mat-label>
                {{ filter.date.from }} - {{ filter.date.to }}
            </mat-label>
            
            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>

        <mat-chip *ngFor="let key of filter.status" (removed)="unfilter('status', key)">
            <mat-icon>
                batch_prediction
            </mat-icon>
            
            <mat-label>
                {{ key }}
            </mat-label>
            
            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>
    </mat-chip-list>

    <table mat-table [dataSource]="orders" matSort>
        <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Order ID
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.orderId }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                Orders: {{ orders.data.length }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Email
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.email }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Date
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.date[element.status] | date : 'yyyy/MM/dd' }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.status }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Sub Total
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.subtotal | currency : 'R' }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                {{ sum('subtotal') | currency : 'R' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="vat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                VAT
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.vat | currency : 'R' }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                {{ sum('vat') | currency : 'R' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Total
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.total | currency : 'R' }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                {{ sum('total') | currency : 'R' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr mat-footer-row *matFooterRowDef="columns; sticky: true;"></tr>
    </table>
</mat-content>