<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <mat-chip-list class="filterbar" *ngIf="filter.storeId.length > 0">
        <mat-chip *ngFor="let id of filter.storeId" (removed)="unfilter('storeId', id)">
            <mat-icon>
                store
            </mat-icon>
            
            <mat-label>
                {{ describe(stores.data, 'storeId', id) }}
            </mat-label>
            
            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>
    </mat-chip-list>

    <table mat-table [dataSource]="vouchers" matSort>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Code
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.code }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
            </th>
            <td mat-cell *matCellDef="let element">
                <span [class]="element.status">
                    {{ element.status }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="options(element)" *ngIf="!element.loading">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                
                <mat-spinner diameter="30" strokeWidth="4" *ngIf="element.loading"></mat-spinner>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</mat-content>