mat-content {
    mat-list {
        margin: 5px 2.5px;
        border-radius: 4px;
        background-color: #fff;
        mat-list-item {
            height: 56px;
            align-items: center;
            flex-direction: row;
        }
        mat-list-item:last-child {
            border-bottom: none;
        }
    }
}
