<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="menu.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <label class="page-title spacer">
        couriers
    </label>

    <search placeholder="search couriers"></search>

    <button mat-icon-button routerLink="editor" [queryParams]="{'mode': 'add', 'storeId': storeId}">
        <mat-icon>
            add
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <mat-list>
        <mat-list-item *ngFor="let courier of couriers.data | orderBy : 'description' | filterBy : 'description' : filter" (click)="options(courier)" matRipple>
            <img [src]="courier.icon" [alt]="courier.description">

            <h3>
                {{ courier.description }}
            </h3>
        </mat-list-item>
    </mat-list>
</div>