<mat-toolbar color="primary">
    <div class="page-title spacer">
        share
    </div>
    
    <button mat-icon-button (click)="close()">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            Role
        </mat-label>

        <mat-select name="role" placeholder="role" formControlName="role" required>
            <mat-option [value]="1">
                Read
            </mat-option>

            <mat-option [value]="2">
                Write
            </mat-option>

            <mat-option [value]="3">
                Read/Write
            </mat-option>

            <mat-option [value]="4">
                Admin
            </mat-option>
        </mat-select>
        
        <mat-error align="start" *ngIf="errors.role" class="form__error">
            {{ errors.role }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            email
        </mat-label>

        <input matInput name="email" type="email" placeholder="email" formControlName="email" required>
        
        <mat-error align="start" *ngIf="errors.email" class="form__error">
            {{ errors.email }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        share
    </button>
</form>