mat-list {
    mat-list-item {
        cursor:         pointer;
        border-bottom:  1px solid #E0E0E0;
        section {
            display:            flex;
            flex-direction:     column;
            justify-content:    center;
            h3 {
                margin:         0px;
                font-size:      14px;
                line-height:    14px;
                text-transform: uppercase;
            }
            p {
                margin:         0px;
                font-size:      12px;
                line-height:    12px;
                text-transform: uppercase;
            }
        }
    }
}