<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
            <mat-form-field floatLabel="always" appearance="outline" >
                <mat-label>
                    Images
                </mat-label>

                <input matInput type="text" formControlName="images" style="display: none;" required>

                <mat-grid-list cols="5" rowHeight="1:1">
                    <mat-grid-tile *ngIf="form.value.images.length < 5" upload [upload-src]="image" (upload-change)="AddImage($event)" matRipple>
                        <mat-icon>
                            upload
                        </mat-icon>
                    </mat-grid-tile>

                    <mat-grid-tile *ngFor="let image of form.value.images" upload [upload-src]="image.src" (upload-change)="UpdateImage(image, $event)" matRipple>
                        <button mat-icon-button class="star" [class.active]="image.main" (click)="MainImage($event, image)">
                            <mat-icon>
                                star
                            </mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="delete" (click)="RemoveImage($event, image)">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-form-field>

            <h2>
                Expiry
            </h2>

            <section formGroupName="expiry">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Enabled
                    </mat-label>
    
                    <mat-select name="enabled" placeholder="enabled" formControlName="enabled" required>
                        <mat-option [value]="true">
                            Enabled
                        </mat-option>
                        <mat-option [value]="false">
                            Disabled
                        </mat-option>
                    </mat-select>
    
                    <mat-error *ngIf="errors.expiry.enabled">
                        {{ errors.expiry.enabled }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Date
                    </mat-label>
    
                    <input matInput type="date" name="date" placeholder="date" formControlName="date" [required]="form.value.expiry.enabled">
    
                    <mat-error *ngIf="errors.expiry.date">
                        {{ errors.expiry.date }}
                    </mat-error>
                </mat-form-field>
            </section>

            <h2>
                Location
            </h2>

            <section formGroupName="location">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Enabled
                    </mat-label>
    
                    <mat-select name="enabled" placeholder="enabled" formControlName="enabled" required>
                        <mat-option [value]="true">
                            Enabled
                        </mat-option>
                        <mat-option [value]="false">
                            Disabled
                        </mat-option>
                    </mat-select>
    
                    <mat-error *ngIf="errors.location.enabled">
                        {{ errors.location.enabled }}
                    </mat-error>
                </mat-form-field>
            </section>

            <section formGroupName="location">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Latitude
                    </mat-label>
    
                    <input matInput type="number" min="-90" max="90" name="latitude" placeholder="latitude" formControlName="latitude"  [required]="form.value.location.enabled">

                    <mat-error *ngIf="errors.location.latitude">
                        {{ errors.location.latitude }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Longitude
                    </mat-label>
    
                    <input matInput type="number" min="-180" max="180" name="longitude" placeholder="longitude" formControlName="longitude"  [required]="form.value.location.enabled">

                    <mat-error *ngIf="errors.location.longitude">
                        {{ errors.location.longitude }}
                    </mat-error>
                </mat-form-field>
            </section>

            <h2>
                Promotion
            </h2>

            <section formGroupName="promotion">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Enabled
                    </mat-label>
    
                    <mat-select name="enabled" placeholder="enabled" formControlName="enabled" required>
                        <mat-option [value]="true">
                            Enabled
                        </mat-option>
                        <mat-option [value]="false">
                            Disabled
                        </mat-option>
                    </mat-select>
    
                    <mat-error *ngIf="errors.promotion.enabled">
                        {{ errors.promotion.enabled }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Price
                    </mat-label>
    
                    <input matInput type="number" name="price" placeholder="price" formControlName="price"  [required]="form.value.promotion.enabled">
    
                    <mat-error *ngIf="errors.promotion.price">
                        {{ errors.promotion.price }}
                    </mat-error>
                </mat-form-field>
            </section>

            <mat-form-field appearance="outline">
                <mat-label>
                    Cost
                </mat-label>

                <input matInput type="number" name="cost" placeholder="cost" formControlName="cost" required>

                <mat-error *ngIf="errors.cost">
                    {{ errors.cost }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Type
                </mat-label>

                <mat-select name="type" placeholder="type" formControlName="type" required>
                    <mat-option value="virtual">
                        Virtual
                    </mat-option>
                    <mat-option value="voucher">
                        Voucher
                    </mat-option>
                    <mat-option value="physical">
                        Physical
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.type">
                    {{ errors.type }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Title
                </mat-label>

                <input matInput type="text" name="title" placeholder="title" formControlName="title" required>

                <mat-error *ngIf="errors.title">
                    {{ errors.title }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Price
                </mat-label>

                <input matInput type="number" name="price" placeholder="price" formControlName="price" required>

                <mat-error *ngIf="errors.price">
                    {{ errors.price }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Visible
                </mat-label>

                <mat-select name="visible" placeholder="visible" formControlName="visible" required>
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>
                    <mat-option [value]="false">
                        Disabled
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.visible">
                    {{ errors.visible }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Product Links
                </mat-label>

                <mat-select name="links" formControlName="links" multiple>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter products" noEntriesFoundLabel="no products found" formControlName="product"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let product of products.data | orderBy : 'title' | filterBy : { title: filter.value.product }" [value]="product.productId">
                        {{ product.title }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.links">
                    {{ errors.links }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Store
                </mat-label>

                <mat-select name="storeId" formControlName="storeId" required>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter stores" noEntriesFoundLabel="no stores found"
                            formControlName="store"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                        *ngFor="let store of stores.data | orderBy : 'description' | filterBy : { description: filter.value.store }"
                        [value]="store.storeId" [disabled]="store.role < 2">
                        {{ store.description }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.storeId">
                    {{ errors.storeId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="form.value.type != 'voucher'">
                <mat-label>
                    Quantity
                </mat-label>

                <input matInput type="number" name="quantity" placeholder="quantity" formControlName="quantity" [required]="form.value.type != 'voucher'">

                <mat-error *ngIf="errors.quantity">
                    {{ errors.quantity }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Supplier
                </mat-label>

                <mat-select name="supplierId" placeholder="supplierId" formControlName="supplierId" required>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter suppliers"
                            noEntriesFoundLabel="no suppliers found" formControlName="supplier"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                        *ngFor="let supplier of suppliers.data | orderBy : 'description' | filterBy : { description: filter.value.supplier }"
                        [value]="supplier.supplierId">
                        {{ supplier.description }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.supplierId">
                    {{ errors.supplierId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Department(s)
                </mat-label>

                <mat-select name="departments" formControlName="departments" multiple>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter departments"
                            noEntriesFoundLabel="no departments found" formControlName="department">
                        </ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                        *ngFor="let department of departments.data | orderBy : 'description' | filterBy : { description: filter.value.department }"
                        [value]="department.departmentId">
                        {{ department.description }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.departments">
                    {{ errors.departments }}
                </mat-error>
            </mat-form-field>

            <quill-editor name="description" formControlName="description" required></quill-editor>

            <button #button type="submit" style="display: none;"></button>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        submit
    </button>
</mat-footer>