<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="container">
        <div class="logo" upload [upload-src]="form.value.icon" (upload-change)="upload('icon', $event)" matRipple>
            <mat-icon>
                upload
            </mat-icon>
        </div>

        <form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
            <mat-form-field appearance="outline">
                <mat-label>
                    Store
                </mat-label>

                <mat-select name="storeId" formControlName="storeId" required>
                    <mat-option [formGroup]="filter">
                        <ngx-mat-select-search placeholderLabel="filter stores" noEntriesFoundLabel="no stores found" formControlName="store"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let store of stores.data | orderBy : 'description' | filterBy : { description: filter.value.store }" [value]="store.storeId" [disabled]="store.role < 2">
                        {{ store.description }}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.storeId">
                    {{ errors.storeId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Email
                </mat-label>

                <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

                <mat-error *ngIf="errors.email">
                    {{ errors.email }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Phone
                </mat-label>

                <input matInput type="tel" name="phone" placeholder="phone" formControlName="phone" required>

                <mat-error *ngIf="errors.phone">
                    {{ errors.phone }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Account
                </mat-label>

                <input matInput type="text" name="account" placeholder="account" formControlName="account" required>

                <mat-error *ngIf="errors.account">
                    {{ errors.account }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Description
                </mat-label>

                <input matInput type="text" name="description" placeholder="description"
                    formControlName="description" required>

                <mat-error *ngIf="errors.description">
                    {{ errors.description }}
                </mat-error>
            </mat-form-field>

            <button #button type="submit" style="display: none;"></button>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        submit
    </button>
</mat-footer>