<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="history.back()">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>

    <label class="page-title spacer">
        courier editor
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <form [formGroup]="form" (ngSubmit)="!form.invalid && options.length > 0 && !loading && submit()">
        <app-file-upload [file]="this.form.value.icon" accept="image/*" [required]="true" [disabled]="loading"></app-file-upload>
        
        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                description
            </mat-label>

            <input matInput type="text" placeholder="description" formControlName="description" required>

            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                account
            </mat-label>

            <input matInput type="text" placeholder="account" formControlName="account" required>

            <mat-error *ngIf="errors.account">
                {{ errors.account }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                Sharing Rules
            </mat-label>

            <mat-select name="organizationOnly" placeholder="Sharing Rules" formControlName="organizationOnly" required>
                <mat-option [value]="0">
                    Share To Anyone
                </mat-option>
                <mat-option [value]="1">
                    Share In Organization
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.organizationOnly">
                {{ errors.organizationOnly }}
            </mat-error>
        </mat-form-field>

        <h2>
            contact
        </h2>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                phone
            </mat-label>

            <input matInput type="tel" placeholder="phone" formControlName="phone" required>

            <mat-error *ngIf="errors.phone">
                {{ errors.phone }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                email
            </mat-label>

            <input matInput type="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>

        <div class="options" [class.error]="options.length == 0">
            <label>
                delivery options *
            </label>

            <table>
                <tr *ngFor="let option of options; let index = i;">
                    <th>
                        <input matInput type="title" name="text" placeholder="option title" [(ngModel)]="option.title" [ngModelOptions]="{standalone: true}" required>
                    </th>
                    <td>
                        <input matInput type="number" min="0" name="text" placeholder="option price" [(ngModel)]="option.price" [ngModelOptions]="{standalone: true}" required>
                    </td>
                    <td>
                        <button type="button" mat-icon-button color="warn" (click)="options.splice(index, 1)">
                            <mat-icon>
                                remove
                            </mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input matInput type="title" name="text" placeholder="option title" [(ngModel)]="optionItem.title" [ngModelOptions]="{standalone: true}">
                    </th>
                    <td>
                        <input matInput type="number" min="0" name="text" placeholder="option price" [(ngModel)]="optionItem.price" [ngModelOptions]="{standalone: true}">
                    </td>
                    <td>
                        <button type="button" mat-icon-button (click)="AddOption()" [disabled]="!optionItem.title || !optionItem.price">
                            <mat-icon>
                                add
                            </mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

            <mat-error *ngIf="options.length == 0">
                You need at least one option!
            </mat-error>
        </div>

        <button type="submit" mat-flat-button color="primary">
            submit
        </button>
    </form>
</div>