ul {
    margin:             10px;
    padding:            0px;
    background-color:   #FFF;
    li {
        margin:             0px !important;
        display:            flex;
        padding:            10px 15px;
        overflow:           hidden;
        align-items:        center;
        border-bottom:      1px solid #E0E0E0;
        flex-direction:     row;
        list-style-type:    none;
        .image-container {
            width:              40px;
            height:             40px;
            display:            flex;
            overflow:           hidden;
            min-width:          40px;
            min-height:         40px;
            align-items:        center;
            margin-right:       15px;
            border-radius:      4px;
            justify-content:    center;
            background-color:   #E0E0E0;
            img {
                max-width:  40px;
                max-height: 40px;
            }
        }
        .details {
            flex:               1 auto;
            display:            flex;
            min-height:         40px;
            flex-direction:     column;
            justify-content:    center;
            h3, p {
                margin:         0px;
                padding:        2.5px 0px;
                font-weight:    500;
                text-transform: uppercase;
            }
            h3 {
                font-size:      14px;
                line-height:    14px;
            }
            h3:hover {
                cursor:             pointer;
                text-decoration:    underline;
            }
            p {
                font-size:      12px;
                line-height:    12px;
                small {
                    color:              #616161;
                    text-decoration:    line-through;
                }
            }
            .price {
                color: #2196F3;
            }
            .quantity {
                color: #000000;
            }
        }
        .buttons {
            display:        flex;
            flex-direction: row;
        }
    }
    li:last-child {
        border-bottom: none;
    }
}
@media screen and (max-width: 900px) {
    ul li {
        .details {
            h3 {
                font-size:      12px;
                line-height:    12px;
            }
            p {
                font-size:      10px;
                line-height:    10px;
            }
        }
        .buttons {
            flex-direction: column;
        }
    }
}